<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Modal -->
<div id="rulesModal" class="modal fade" role="dialog" ng-view="content">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Beacon '{{currentBeacon.name}}' rules</h4>
            </div>
            <div class="modal-body container">
                <td class="row">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Content</td>
                            <td>Date from</td>
                            <td>Date to</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="rule in rules">
                            <td>
                                <input class="form-control" type="text" ng-model="rule.name" ng-readonly="!rule.editable">
                            </td>
                            <td>
                                <input class="form-control" type="text" ng-model="rule.description" ng-readonly="!rule.editable">
                            </td>
                            <td>
                                <select class="form-control" name="singleSelect" ng-model="rule.content_id">
                                    <option value="{{content.content_id}}" ng-repeat="content in contents">{{content.name}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" uib-datepicker-popup=""
                                       max-date="rule.rule.date_to"
                                       ng-model="rule.rule.date_from" is-open="dateFromOpened[$index]"
                                       ng-required="true" close-text="Close" ng-click="dateFromOpen($index)"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" uib-datepicker-popup=""
                                       ng-model="rule.rule.date_to" is-open="dateToOpened[$index]"
                                       min-date="rule.rule.date_from"
                                       ng-required="true" close-text="Close" ng-click="dateToOpen($index)"/>
                            </td>
                            <td>
                                <!--<button class="btn btn-warning" ng-show="!rule.new" ng-disabled="rule.editable" ng-click="editRule(rule)">edit</button>-->
                                <!--<button class="btn btn-primary" ng-show="rule.editable && !rule.new" ng-click="rule.editable=!rule.editable; saveRule(rule)">submit</button>-->
                                <!--<button class="btn btn-warning" ng-show="rule.editable && !rule.new" ng-click="cancelEditRule(rule)">cancel</button>-->
                                <button class="btn btn-danger"  ng-show="!rule.editable && !rule.new" ng-click="deleteRule(rule)"><span class="glyphicon glyphicon-minus" aria-hidden="true"> Delete</button>
                                <button class="btn btn-primary"  ng-show="rule.new" ng-click="newRule(rule)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
                            </td>
                        </tr>
                        <tr ng-repeat-end="">
                            <td>
                                <ul>
                                    <li ng-repeat="day in rule.rule.days">{{day.day_of_week}} <span ng-if="day.hour_from">{{day.hour_from}} - {{day.hour_to}}</span><span ng-if="!day.hour_from"> - all</span></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row" ng-if="addRuleMode || editRuleMode">
                        <ul class="list-group col-sm-5 timepickers">
                            <li ng-repeat="dayOfWeek in daysOfWeek" class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label><input type="checkbox" value="" ng-model="ruleDaysOfWeek[dayOfWeek].enabled" ng-click="setDates(rule, dayOfWeek)">{{dayOfWeek}}</label>
                                        </div>

                                        <div class="col-sm-8">
                                            <fieldset ng-disabled="ruleDaysOfWeek[dayOfWeek].allDay">
                                            <uib-timepicker
                                                    max="ruleDaysOfWeek[dayOfWeek].to"
                                                    ng-model="ruleDaysOfWeek[dayOfWeek].from" ng-show="ruleDaysOfWeek[dayOfWeek].enabled" show-spinners="false"  show-meridian="ismeridian"></uib-timepicker>
                                            <uib-timepicker
                                                    min="ruleDaysOfWeek[dayOfWeek].from"
                                                    ng-model="ruleDaysOfWeek[dayOfWeek].to" ng-show="ruleDaysOfWeek[dayOfWeek].enabled" show-spinners="false" show-meridian="ismeridian"></uib-timepicker>
                                        </fieldset>
                                        </div>

                                        <div class="col-sm-2">
                                            <label ng-show="ruleDaysOfWeek[dayOfWeek].enabled"><input type="checkbox" value="" ng-model="ruleDaysOfWeek[dayOfWeek].allDay">All</label>
                                        </div>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <button ng-hide="addRuleMode" type="button" class="btn btn-primary" ng-click="addRule(rule)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add rule</button>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>
<div ng-submit="submitRuleForm()">
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>UUID</td>
            <td>Major</td>
            <td>Minor</td>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="beacon in beacons">
                <td>
                    <input class="form-control" type="text" ng-model="beacon.name" ng-readonly="!beacon.editable">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="beacon.description" ng-readonly="!beacon.editable">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="beacon.uu_id" ng-readonly="!beacon.editable">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="beacon.major_id" ng-readonly="!beacon.editable">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="beacon.minor_id" ng-readonly="!beacon.editable">
                </td>
                <td>
                    <div class="btn-group" style="display: flex">
                        <button class="btn btn-warning" ng-show="!beacon.new" ng-disabled="beacon.editable" ng-click="beacon.editable=!beacon.editable"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
                        <button class="btn btn-primary" ng-show="beacon.editable && !beacon.new" ng-click="beacon.editable=!beacon.editable; saveBeacon(beacon)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit</button>
                        <button class="btn btn-warning" ng-show="beacon.editable && !beacon.new" ng-click="beacon.editable=!beacon.editable; cancelEdit()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                        <button class="btn btn-danger"  ng-show="!beacon.editable && !beacon.new" ng-click="deleteBeacon(beacon)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Delete</button>
                        <button class="btn btn-danger"  ng-show="beacon.new" ng-click="newBeacon(beacon)">save</button>
                        <button type="button" class="btn btn-default"  ng-click="setModal(beacon)" data-toggle="modal" data-target="#rulesModal"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Rules</button>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>
    <button type="button" class="btn btn-primary" ng-click="addBeacon()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add beacon</button>

</body>
</html>