<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>URL</td>
            <td>Image URL</td>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="content in contents">
                <td>
                    <input class="form-control" type="text" ng-model="content.name" ng-readonly="!content.editable">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="content.description" ng-readonly="!content.editable">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="content.url" ng-readonly="!content.editable">
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="content.img_url" ng-readonly="!content.editable">
                </td>
                <td>
                    <div class="btn-group" style="display: flex">
                        <button class="btn btn-warning" ng-show="!content.new" ng-disabled="content.editable" ng-click="content.editable=!content.editable"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
                        <button class="btn btn-primary" ng-show="content.editable && !content.new" ng-click="content.editable=!content.editable; saveContent(content)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit</button>
                        <button class="btn btn-warning" ng-show="content.editable && !content.new" ng-click="content.editable=!content.editable;cancelEdit()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                        <button class="btn btn-danger"  ng-show="!content.editable && !content.new" ng-click="deleteContent(content)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Delete</button>
                        <button class="btn btn-danger"  ng-show="content.new" ng-click="newContent(content)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" ng-click="addContent()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add content</button>

</body>
</html>